* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
       background-image: url(../../assets/fundobody.png);
    color: #fff;
    min-height: 100vh;
}

/* HEADER */
.header {
    text-align: center;
    padding: 20px;
    font-weight: 600;
}

/* CONTAINER */
.checkout-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    max-width: 1100px;
    margin: auto;
}

/* CARD PADRÃO */
.plan-card,
.form-card {
    background-color: rgb(222, 155, 255);
    border-radius: 16px;
    padding: 20px;
    box-shadow: 0 10px 30px rgb(149, 60, 193);
}

/* PLANO */
.plan-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.plan-header img {
    width: 50px;
}

.badge {
    background-color: #1db954;
    padding: 4px 10px;
    border-radius: 20px;
    font-size: 12px;
    font-weight: 500;
}

.plan-card h2 {
    margin-top: 10px;
}

.plan-type {
    color: #000;
    font-size: 14px;
    margin-bottom: 15px;
}

.plan-benefits {
    list-style: none;
    margin-bottom: 20px;
}

.plan-benefits li {
    margin-bottom: 8px;
    font-size: 14px;
}

.price {
    font-size: 22px;
    font-weight: 600;
}

.price span {
    font-size: 14px;
    color: #252424;
}

/* FORM */
.form-card h3 {
    margin-bottom: 20px;
}

.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.input-group label {
    font-size: 14px;
    margin-bottom: 5px;
}

.input-group input,
.input-group select {
    padding: 12px;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: #2a2a2a;
    color: #fff;
}

.input-group input::placeholder {
    color: #888;
}

/* BOTÃO */
.btn-submit {
    width: 100%;
    padding: 14px;
    border: none;
    border-radius: 12px;
    background-color: #1db954;
    color: #000;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}

.btn-submit:hover {
    background-color: #17a84a;
}

.secure-text {
    margin-top: 15px;
    font-size: 12px;
    text-align: center;
    color: #000;
}

/* FOOTER */
.footer {
    text-align: center;
    padding: 20px;
    font-size: 12px;
    color: #000000;
}

/* DESKTOP */
@media (min-width: 768px) {
    .checkout-container {
        flex-direction: row;
        align-items: flex-start;
    }

    .plan-card,
    .form-card {
        width: 50%;
    }
}
