* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;

      font-family: "Caudex", serif;
      font-weight: 400;
      font-style: normal;
      font-family: "Caudex", serif;
      font-weight: 700;
      font-style: normal;

      font-family: "Caudex", serif;
      font-weight: 400;
      font-style: italic;



      font-family: "Caudex", serif;
      font-weight: 700;
      font-style: italic;
}



body {
      background-color: lightgrey;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;

}

#container {
      width: 90vw;
      height: 90vh;
      border-radius: 08px;
      background-color: rgb(255, 248, 248);
      display: flex;
      flex-direction: row;
      padding: 30px;

}

#left-container {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: flex-start;
}

#right-container {
      height: 100%;
      /*100% ocupa todo o box, é dispensavél, pode ser usado somente o flex 1, usar caso queira manipular o tamanho do quadro*/
      flex: 1;
      /*ocupa todo espaço disponível*/
      background-image: url(../../assets/fundoplaycerto2.jpg);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      /*todo esse conjuto para colocar imagem*/
      border-radius: 20px;
      display: none;
      /*bloqueia a imagem para aparecer dentro do limite de 600px*/

}



#title-hed {
      font-size: 20px;
      visibility: hidden;
}

#header-container {
      display: flex;
      align-items: center;
      gap: 4px;
      color: #393f46;
}

#subtitle-page {
      margin-bottom: 4rem;
}

#welcome-text {
      margin-bottom: 1rem;
}

.input-container {
      display: flex;
      flex-direction: column;
}

main {
      min-width: 40%;
      /*acrescentar o min para colocar um tamanho minimo*/

}

#checbox-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 8px;
      white-space: nowrap;
}

.input-text {
      margin-top: 0.5rem;
      margin-bottom: 1rem;
      height: 2rem;
      border-radius: 8px;
      border: solid 1px #ccc;
      padding-left: 8px;
}


#remeber-label {
      color: rgb(150, 149, 149);
}

#btn-singin {
      margin-top: 4rem;
      border-radius: 8px;
      width: 150px;
      height: 40px;
      border: solid 1px #ccc;
      font-weight: 700;
      background-color: rgb(149, 60, 193);
      color: white;
}

#footer {
      color: rgb(150, 149, 149);
      font-weight: 700;
}

#singup {
      color: rgb(18, 42, 252);
      cursor: pointer;
      text-decoration: none;
}

.footer-link {
      cursor: pointer;
      text-decoration: none;
}

@media(min-width:600px) {
      #right-container {
            height: 100%;
            flex: 1;
            background-image: url(../../assets/fundoplaycerto2.jpg);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            border-radius: 20px;
            display: block;
            /*bloqueia a imagem para aparecer dentro do limite de 600px*/

      }

}